@using Actividad7.Models;
@model Enterprise
@{
    ViewData["title"] = "CrearEnterprise";
}
<div class="form-row">
    <div class="col-md-12">
        <form method="post" asp-controller="Enterprise" class="form-group">
          <!--Nit-->
          <div class="mb-3">
            <label asp-for="Nit" class="form-label">Nit</label>
            <input asp-for="Nit" type="text" class="form-control" />
            <span asp-validation-for="Nit" class="text-danger"></span>
          </div>

          <!--Nombre-->
          <div class="mb-3">
            <label asp-for="Name" class="form-label">Nombre</label>
            <input asp-for="Name" type="text" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
          </div>

          <!--Direccion-->
          <div class="mb-3">
            <label asp-for="Direccion" class="form-label">Direccion</label>
            <input asp-for="Direccion" type="text" class="form-control" />
            <span asp-validation-for="Direccion" class="text-danger"></span>
          </div>

          <div class="container">
            <div class="col-sm">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
          </div>
      </form>
    </div>
</div>
